@model LungTracking.BL.Models.BloodPressure

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>BloodPressure</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.Label("Track Blood Pressure(Systolic)")
                @Html.TextBox("txtBPSNumber")
            </div>
            <div class="form-group">
                @Html.Label("Track Blood Pressure(Diastolic)")
                @Html.TextBox("txtBPDNumber")
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BeginningEnd" /> @Html.DisplayNameFor(model => model.BeginningEnd)
                </label>
            </div>
            <div class="form-group">
                @Html.Label("Track Time")
                @Html.TextBox("txtTimeOfDay")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
