@model IEnumerable<LungTracking.BL.Models.BloodPressure>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPsystolic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BPdiastolic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BeginningEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BPsystolic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BPdiastolic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginningEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
