@model LungTracking.BL.Models.BloodSugar

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Blood Sugar</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.Label("Track Blood Sugar") <br />
                @Html.TextBox("txtBloodSugarNumber")
            </div>
            <div class="form-group">
                @Html.Label("Track Units of Insulin")<br />
                @Html.TextBox("txtUnitsOfInsulinGiven")
            </div>
            <div class="form-group">
                @Html.Label("Track Type of Insulin")<br />
                @Html.TextBox("txtTypeOfInsulinGiven")
            </div>
            <div class="form-group">
                @Html.Label("Notes")<br />
                @Html.TextArea("txtNotes")
            </div>
            <div class="form-group">
                @Html.Label("Track Time")<br />
                @Html.TextBox("txtTimeOfDay")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
