@model LungTracking.BL.Models.Report

<!DOCTYPE html>
<html>
	<head>

	</head>
	<body>
		<h2>LungTracking Report</h2>
		<table>
			<tbody>
				<tr>
					<td>Appointment Count:</td>
					<td>@Model.AppointmentCount</td>
				</tr>
				<tr>
					<td>Blood Pressure Count:</td>
					<td>@Model.BloodPressureCount</td>
				</tr>
				<tr>
					<td>Blood Sugar Count:</td>
					<td>@Model.BloodSugarCount</td>
				</tr>
				<tr>
					<td>Caregiver Count:</td>
					<td>@Model.CaregiverCount</td>
				</tr>
				<tr>
					<td>FEV1 Count:</td>
					<td>@Model.FEV1Count</td>
				</tr>
				<tr>
					<td>Medication Details Count:</td>
					<td>@Model.MedicationDetailsCount</td>
				</tr>
				<tr>
					<td>Medication Time Count:</td>
					<td>@Model.MedicationTimeCount</td>
				</tr>
				<tr>
					<td>Medication Tracking Count:</td>
					<td>@Model.MedicationTrackingCount</td>
				</tr>
				<tr>
					<td>Patient Count:</td>
					<td>@Model.PatientCount</td>
				</tr>
				<tr>
					<td>PEF Count:</td>
					<td>@Model.PEFCount</td>
				</tr>
				<tr>
					<td>Provider Count:</td>
					<td>@Model.ProviderCount</td>
				</tr>
				<tr>
					<td>Pulse Count:</td>
					<td>@Model.PulseCount</td>
				</tr>
				<tr>
					<td>SleepWake Count:</td>
					<td>@Model.SleepWakeCount</td>
				<tr>
					<td>Temperature Count:</td>
					<td>@Model.TemperatureCount</td>
				</tr>
				<tr>
					<td>User Count:</td>
					<td>@Model.UserCount</td>
				</tr>
				<tr>
					<td>Weight Count:</td>
					<td>@Model.WeightCount</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>