@model LungTracking.BL.Models.FEV1

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>FEV1</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.Label("Track FEV1")<br />
                @Html.TextBox("txtFEV1Number")
            </div>
            <div class="form-group">
                @Html.Label("Beginning or End of Day")<br />
                @Html.RadioButtonFor(m => m.BeginningEnd, "False")
                @Html.Label("Beginning")<br />
                @Html.RadioButtonFor(m => m.BeginningEnd, "True")
                @Html.Label("End")
            </div>
            <!--<div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="BeginningEnd" /> @Html.DisplayNameFor(model => model.BeginningEnd)
        </label>
    </div>-->
            <div class="form-group">
                @Html.Label("Track Time")<br />
                @Html.TextBox("txtTimeOfDay")
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
